[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
img{
	cursor: pointer;
}
/* latin-ext */
@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: local('Audiowide'), local('Audiowide-Regular'), url(http://fonts.gstatic.com/s/audiowide/v3/7pSgz2MbVvTCvvm7vukSH5Bw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: local('Audiowide'), local('Audiowide-Regular'), url(http://fonts.gstatic.com/s/audiowide/v3/8XtYtNKEyyZh481XVWfVOpBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body{
	background: rgba(38, 20, 56, 1);
}
.container-fluid{
	margin: 30px;
}
.logo{
	margin: 0 auto;
}
.logo p{
	text-align: center;
	font-family: 'Audiowide', cursive;
	font-size: 3em;
	margin: 0;
	color: #FFF;
}
.logo .headline{
	margin: ;
	color: #22A7F0;
	text-align: center;
	font-size: 1.5em;
	font-family: 'Audiowide', cursive;
}
.form{
	margin: 30px auto;
}
.input-fields{
	margin: 0 auto;
	width: 25%;
}
.search-input{
	border: none;
	padding: 6px;
	border-radius: 5px;
	vertical-align: middle;
}
.btn-search{
	text-shadow: 1px 1px #000;
	padding: 5px 12px !important;
}
.images{
	border: 2px solid #FFF;
	margin: 10px;
}

.searching{
	color: #FFF;
	font-size: 20px;
}

/*---  Found images message ------*/
p.results-found.animate-found{
background: #66CC99;
clear: both;
padding: 10px;
text-align: center;
color: #FFF;
font-size: 17px;
border-radius: 10px;
}
.results-found span{
	color: #2d89ef;
}
.animate-found.ng-hide-add{
	-webkit-transition: all 0s ease-out;
	   -moz-transition: all 0s ease-out;
	    -ms-transition: all 0s ease-out;
	     -o-transition: all 0s ease-out;
	        transition: all 0s ease-out;
	        opacity: 1;
}
.animate-found.ng-hide-remove{
	-webkit-transition: all 1s ease-out;
	   -moz-transition: all 1s ease-out;
	    -ms-transition: all 1s ease-out;
	     -o-transition: all 1s ease-out;
	        transition: all 1s ease-out;
	        opacity: 1;
}
.animate-found.ng-hide{
	opacity: 0
}
/*----------------------------------*/

/*---- No Images found message -----*/
p.results-notfound.animate-notfound{
background: #FF0000;
clear: both;
padding: 10px;
text-align: center;
color: #FFF;
font-size: 17px;
border-radius: 10px;
}
.animate-notfound.ng-hide-add{
	-webkit-transition: all 0s ease-out;
	   -moz-transition: all 0s ease-out;
	    -ms-transition: all 0s ease-out;
	     -o-transition: all 0s ease-out;
	        transition: all 0s ease-out;
	        opacity: 1;
}
.animate-notfound.ng-hide-remove{
	-webkit-transition: all 1s ease-out;
	   -moz-transition: all 1s ease-out;
	    -ms-transition: all 1s ease-out;
	     -o-transition: all 1s ease-out;
	        transition: all 1s ease-out;
	        opacity: 1;
}
.animate-notfound.ng-hide{
	opacity: 0
}
/*--------------------------*/

/*--- invalid search message -----*/
p.invalid-search.animate-invalid-search{
background: #FF0000;
clear: both;
padding: 5px;
text-align: center;
color: #FFF;
font-size: 17px;
border-radius: 5px;
margin-top: 10px;
}
.animate-invalid-search.ng-hide-add{
	-webkit-transition: all 0s ease-out;
	   -moz-transition: all 0s ease-out;
	    -ms-transition: all 0s ease-out;
	     -o-transition: all 0s ease-out;
	        transition: all 0s ease-out;
	        opacity: 1;
}
.animate-invalid-search.ng-hide-remove{
	-webkit-transition: all 1s ease-out;
	   -moz-transition: all 1s ease-out;
	    -ms-transition: all 1s ease-out;
	     -o-transition: all 1s ease-out;
	        transition: all 1s ease-out;
	        opacity: 1;
}
.animate-invalid-search.ng-hide{
	opacity: 0
}
/*---------------------------*/

.loader{
	margin-left: 40%;
	margin-top: 5%;
}
a[target=_blank]{
	background: blue;
}









